{% extends 'match/base.html' %}

{% block title %}
{{ username }} · Teammates
{% endblock %}

{% block css %}
<style>
  table {
    table-layout: auto !important;
    width: 1px !important;
    overflow: visible !important;
  }

  td, th {
    max-width:100%;
    white-space:nowrap;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .right {
    text-align: right;
  }

  table.sortable tbody tr:nth-child(2n) td {
    background: white;
  }
  table.sortable tbody tr:nth-child(2n+1) td {
    background: rgba(0,0,0,0.05);
  }

  span {
    font-size:60% !important;
  }

  .nav-tabs {
    width: 75%;
    border-bottom: none;
  }

  .nav-link:not(.nav-custom) {
      margin-right: 30px;
  }

  @media screen and (max-width: 768px) {
    .nav-tabs {
      width: 100% !important;
    }
  }

  a {
    text-decoration: none;
  }

  table.dataTable.no-footer > tbody > tr:last-child > td {
    border-bottom: none;
  }
  table {
    border-radius: 5px;
  }

  .hiddenLink {
        text-decoration: inherit !important;
  }

  hr {
    background-color: black !important;
    color: black !important;
    border: solid 1px black !important;
  }

  .nav-tabs {
    width: 75%;
  }

  .nav-custom {
    color: black !important;
    border: solid 1px rgb(168, 168, 168) !important;
    border-bottom: none !important;
  }

  a.active, .nav-custom:hover {
    color: white !important;
    background-color: black !important;
    border: solid 1px rgb(168, 168, 168) !important;
    border-bottom: none !important;
  }

  .nav-link#None {
      color:red !important;
      border-bottom: solid 3px red !important;
  }
  .hover-nav:hover {
      color:red !important;
      border-bottom: solid 3px red !important;
  }
</style>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}

{% block content %}
<br>

<div class="container">

  <div class="p-2" style="width: fit-content; overflow: hidden; text-align: center; margin-left: auto; margin-right: auto;">
    <div style="display: inline-block; vertical-align: middle;">
      <img src="{{ topAgentImage }}" alt="{{ topAgent }}" height="60px" title="Most Played Agent: {{ topAgent }}" data-bs-toggle="tooltip" data-bs-placement="top">
    </div>
    <div style="display: inline-block; vertical-align: middle; white-space: nowrap;">
      <h1 style="font-weight:bold"
      title="{{ username }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ displayName }}</h1>
    </div>
  </div>

  <div id="buttons" style="text-align:center; margin-top: 1%;">
    <div style="display: inline-block;">
      <a class="btn btn-outline-dark shadow-sm" style="font-size:100%; margin:5px" href="{% url 'player_detail' username %}" role="button">Overview</a>
      <a class="btn btn-outline-dark shadow-sm" style="font-size:100%; margin:5px" href="{% url 'player_splits' username %}" role="button">Splits</a>
      <a class="btn btn-outline-dark shadow-sm active" style="font-size:100%; margin:5px" href="{% url 'player_teammates' username %}" role="button">Teammates</a>
      <a class="btn btn-outline-dark shadow-sm" style="font-size:100%; margin:5px" href="{% url 'match_list' %}?{{ displayName }}=1" role="button">Matches</a>
      <a class="btn btn-outline-dark shadow-sm" style="font-size:100%; margin:5px" href="{% url 'player_gamelog' username %}" role="button">Game Log</a>
    </div>
  </div>

  <hr>

  <h2 style="text-align:center; font-weight:normal">Teammates</h2>

  <br>
  <h4 style="font-weight:normal">{{ displayName }}'s Performances</h4>

  <ul class="nav nav-tabs" id="playerTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom active" style="font-size:80%;" id="basic-tab" data-bs-toggle="tab" href="#player-basic" role="tab">Basic</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom" style="font-size:80%;" id="rate-tab" data-bs-toggle="tab" href="#player-rate" role="tab">Rate</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom" style="font-size:80%;" id="side-tab" data-bs-toggle="tab" href="#player-side" role="tab">Side</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom" style="font-size:80%;" id="highs-tab" data-bs-toggle="tab" href="#player-highs" role="tab">Highs</a>
    </li>
  </ul>

  <div id="player-tabs" class="tab-content">

    <div id="player-basic" class="tab-pane active table-responsive-lg">
      <table id="table-player-basic" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Percentage of Matches Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Kills per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K/20</th>
              <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Average Damage Delta" data-bs-toggle="tooltip" data-bs-placement="top">DD</th>
              <th class="right" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Headshot Percentage" data-bs-toggle="tooltip" data-bs-placement="top">HS%</th>
              <th class="right" title="Percent of Rounds with 1+ Kill" data-bs-toggle="tooltip" data-bs-placement="top">K%</th>
              <th class="right" title="Killed/Assisted/Survived/Traded Round Percentage" data-bs-toggle="tooltip" data-bs-placement="top">KAST%</th>
          </tr>
        </thead>
        <tbody>
          {% for p in PlayerPerformances %}
            <tr>
              <td><img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}">{{ p.PlayerDisplayName }}</a></td>
              <td><img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}">{{ p.TeammateDisplayName }}</a></td>
              <td class="right"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
              <td class="right" style="{% if p.win_pct > 0.5 %}color:green{% elif p.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.win_pct|floatformat:3 }}</td>
              <td class="right">{{ p.kills_per_20|floatformat:1 }}</td>
              <td class="right" style="{% if p.kdr > 1 %}color:green{% elif p.kdr == 1 %}{% else %}color:red{% endif %}">{{ p.kdr|floatformat:2 }}</td>
              <td class="right" style="{% if p.damage_delta > 0 %}color:green{% elif p.damage_delta == 0 %}{% else %}color:red{% endif %}">{{ p.damage_delta|floatformat:0 }}</td>
              <td class="right">{{ p.acs|floatformat:1 }}</td>
              <td class="right">{{ p.adr|floatformat:1 }}</td>
              <td class="right">{{ p.hs_pct|floatformat:2 }}</td>
              <td class="right" style="{% if p.k_pct > 0.5 %}color:green{% elif p.k_pct == 0.5 %}{% else %}color:red{% endif %}">{{ p.k_pct|floatformat:3 }}</td>
              <td class="right">{{ p.kast|floatformat:3 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="player-rate" class="tab-pane table-responsive-lg">
      <table id="table-player-rate" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Percentage of Rounds Won" data-bs-toggle="tooltip" data-bs-placement="top">Rd Win%</th>
              <th class="right" title="Kills per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Deaths per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Assists per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">A</th>
              <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="First Bloods per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">FB</th>
              <th class="right" title="First Deaths per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">FD</th>
              <th class="right" title="First Blood/First Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">FB/FD</th>
          </tr>
        </thead>
        <tbody>
          {% for p in PlayerPerformances %}
            <tr>
                <td> <img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}">{{ p.PlayerDisplayName }} </a></td>
                <td> <img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}">{{ p.TeammateDisplayName }}</a></td>
                <td class="right"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
                <td class="right" style="{% if p.round_win_pct > 0.5 %}color:green{% elif p.RoundWinPct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.RoundRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.round_win_pct|floatformat:3 }}</td>
                <td class="right">{{ p.kills_per_20|floatformat:1 }}</td>
                <td class="right">{{ p.deaths_per_20|floatformat:1 }}</td>
                <td class="right"">{{ p.assists_per_20|floatformat:1 }}</td>
                <td class="right" style="{% if p.kdr > 1 %}color:green{% elif p.kdr == 1 %}{% else %}color:red{% endif %}">{{ p.kdr|floatformat:2 }}</td>
                <td class="right">{{ p.acs|floatformat:1 }}</td>
                <td class="right">{{ p.adr|floatformat:1 }}</td>
                <td class="right">{{ p.fb_per_20|floatformat:1 }}</td>
                <td class="right">{{ p.fd_per_20|floatformat:1 }}</td>
                <td class="right" style="{% if p.fb_fd_ratio > 1 %}color:green{% elif p.fb_fd_ratio == 1 %}{% else %}color:red{% endif %}">{{ p.fb_fd_ratio|floatformat:2 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="player-side" class="tab-pane table-responsive-lg">
      <table id="table-player-side" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr id="ignore">
            <th colspan="2"></th>
            <th style="border-right:1px solid rgb(222, 226, 230)"></th>
            <th colspan="5" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Attack</th>
            <th colspan="5" style="text-align:center">Defense</th>
          </tr>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Attack Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Attack Kills per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Attack Deaths per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Attack Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Attack Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Defense Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Defense Kills per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Defense Deaths per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Defense Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Defense Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
          </tr>
        </thead>
        <tbody>
          {% for p in PlayerPerformances %}
            <tr>
              <td><img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}">{{ p.PlayerDisplayName }} </a></td>
              <td><img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}">{{ p.TeammateDisplayName }}</a></td>
              <td class="right" style="border-right:1px solid rgb(222, 226, 230)"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
              <td class="right" style="{% if p.attack_win_pct > 0.5 %}color:green{% elif p.attack_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.AttackRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.attack_win_pct|floatformat:3 }}</td>
              <td class="right">{{ p.attack_kp12|floatformat:1 }}</td>
              <td class="right">{{ p.attack_dp12|floatformat:1 }}</td>
              <td class="right" style="{% if p.attack_kdr > 1 %}color:green{% elif p.attack_kdr == 1 %}{% else %}color:red{% endif %}">{{ p.attack_kdr|floatformat:2 }}</td>
              <td class="right" style="border-right:1px solid rgb(222, 226, 230)">{{ p.attack_adr|floatformat:1 }}</td>
              <td class="right" style="{% if p.defense_win_pct > 0.5 %}color:green{% elif p.defense_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.DefenseRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.defense_win_pct|floatformat:3 }}</td>
              <td class="right">{{ p.defense_kp12|floatformat:1 }}</td>
              <td class="right">{{ p.defense_dp12|floatformat:1 }}</td>
              <td class="right" style="{% if p.defense_kdr > 1 %}color:green{% elif p.defense_kdr == 1 %}{% else %}color:red{% endif %}">{{ p.defense_kdr|floatformat:2 }}</td>
              <td class="right">{{ p.defense_adr|floatformat:1 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="player-highs" class="tab-pane table-responsive-lg">
      <table id="table-player-highs" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Most Kills" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Most Deaths" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Most Assists" data-bs-toggle="tooltip" data-bs-placement="top">A</th>
              <th class="right" title="Highest Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Highest Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Highest Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Most First Bloods" data-bs-toggle="tooltip" data-bs-placement="top">FB</th>
              <th class="right" title="Most First Deaths" data-bs-toggle="tooltip" data-bs-placement="top">FD</th>
          </tr>
        </thead>
        <tbody>
          {% for p in PlayerPerformances %}
            <tr>
                <td> <img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}">{{ p.PlayerDisplayName }} </a></td>
                <td> <img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}">{{ p.TeammateDisplayName }}</a></td>
                <td class="right"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_kills_id %}">{{ p.max_kills }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_deaths_id %}">{{ p.max_deaths }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_assists_id %}">{{ p.max_assists }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_kdr_id %}">{{ p.max_kdr|floatformat:2 }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_acs_id %}">{{ p.max_acs }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_adr_id %}">{{ p.max_adr|floatformat:1 }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_fb_id %}">{{ p.max_fb }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_fd_id %}">{{ p.max_fd }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <br>
  <h4 style="font-weight:normal">Teammate Performances</h4>

  <ul class="nav nav-tabs" id="teammateTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom active" style="font-size:80%;" id="basic-tab" data-bs-toggle="tab" href="#teammate-basic" role="tab">Basic</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom" style="font-size:80%;" id="rate-tab" data-bs-toggle="tab" href="#teammate-rate" role="tab">Rate</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom" style="font-size:80%;" id="side-tab" data-bs-toggle="tab" href="#teammate-side" role="tab">Side</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nav-custom" style="font-size:80%;" id="highs-tab" data-bs-toggle="tab" href="#teammate-highs" role="tab">Highs</a>
    </li>
  </ul>

  <div id="teammate-tabs" class="tab-content">

    <div id="teammate-basic" class="tab-pane active table-responsive-lg">
      <table id="table-teammate-basic" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Percentage of Matches Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Kills per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K/20</th>
              <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Average Damage Delta" data-bs-toggle="tooltip" data-bs-placement="top">DD</th>
              <th class="right" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Headshot Percentage" data-bs-toggle="tooltip" data-bs-placement="top">HS%</th>
              <th class="right" title="Percent of Rounds with 1+ Kill" data-bs-toggle="tooltip" data-bs-placement="top">K%</th>
              <th class="right" title="Killed/Assisted/Survived/Traded Round Percentage" data-bs-toggle="tooltip" data-bs-placement="top">KAST%</th>
          </tr>
        </thead>
        <tbody>
          {% for p in TeammatePerformances %}
            <tr>
              <td><img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}"> {{ p.PlayerDisplayName }} </a></td>
              <td><img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}"> {{ p.TeammateDisplayName }}</a></td>
              <td class="right"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
              <td class="right" style="{% if p.win_pct > 0.5 %}color:green{% elif p.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.win_pct|floatformat:3 }}</td>
              <td class="right">{{ p.kills_per_20|floatformat:1 }}</td>
              <td class="right" style="{% if p.kdr > 1 %}color:green{% elif p.kdr == 1 %}{% else %}color:red{% endif %}">{{ p.kdr|floatformat:2 }}</td>
              <td class="right" style="{% if p.damage_delta > 0 %}color:green{% elif p.damage_delta == 0 %}{% else %}color:red{% endif %}">{{ p.damage_delta|floatformat:0 }}</td>
              <td class="right">{{ p.acs|floatformat:1 }}</td>
              <td class="right">{{ p.adr|floatformat:1 }}</td>
              <td class="right">{{ p.hs_pct|floatformat:2 }}</td>
              <td class="right" style="{% if p.k_pct > 0.5 %}color:green{% elif p.k_pct == 0.5 %}{% else %}color:red{% endif %}">{{ p.k_pct|floatformat:3 }}</td>
              <td class="right">{{ p.kast|floatformat:3 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="teammate-rate" class="tab-pane table-responsive-lg">
      <table id="table-teammate-rate" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Percentage of Rounds Won" data-bs-toggle="tooltip" data-bs-placement="top">Rd Win%</th>
              <th class="right" title="Kills per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Deaths per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Assists per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">A</th>
              <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="First Bloods per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">FB</th>
              <th class="right" title="First Deaths per 20 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">FD</th>
              <th class="right" title="First Blood/First Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">FB/FD</th>
          </tr>
        </thead>
        <tbody>
          {% for p in TeammatePerformances %}
            <tr>
                <td><img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}"> {{ p.PlayerDisplayName }} </a></td>
                <td><img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}"> {{ p.TeammateDisplayName }}</a></td>
                <td class="right"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
                <td class="right" style="{% if p.round_win_pct > 0.5 %}color:green{% elif p.RoundWinPct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.RoundRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.round_win_pct|floatformat:3 }}</td>
                <td class="right">{{ p.kills_per_20|floatformat:1 }}</td>
                <td class="right">{{ p.deaths_per_20|floatformat:1 }}</td>
                <td class="right">{{ p.assists_per_20|floatformat:1 }}</td>
                <td class="right" style="{% if p.kdr > 1 %}color:green{% elif p.kdr == 1 %}{% else %}color:red{% endif %}">{{ p.kdr|floatformat:2 }}</td>
                <td class="right">{{ p.acs|floatformat:1 }}</td>
                <td class="right">{{ p.adr|floatformat:1 }}</td>
                <td class="right">{{ p.fb_per_20|floatformat:1 }}</td>
                <td class="right">{{ p.fd_per_20|floatformat:1 }}</td>
                <td class="right" style="{% if p.fb_fd_ratio > 1 %}color:green{% elif p.fb_fd_ratio == 1 %}{% else %}color:red{% endif %}">{{ p.fb_fd_ratio|floatformat:2 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="teammate-side" class="tab-pane table-responsive-lg">
      <table id="table-teammate-side" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr id="ignore">
            <th colspan="2"></th>
            <th style="border-right:1px solid rgb(222, 226, 230)"></th>
            <th colspan="5" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Attack</th>
            <th colspan="5" style="text-align:center">Defense</th>
          </tr>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Attack Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Attack Kills per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Attack Deaths per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Attack Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Attack Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Defense Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Defense Kills per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Defense Deaths per 12 Rounds" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Defense Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Defense Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
          </tr>
        </thead>
        <tbody>
          {% for p in TeammatePerformances %}
            <tr>
              <td><img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}"> {{ p.PlayerDisplayName }} </a></td>
              <td><img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}"> {{ p.TeammateDisplayName }}</a></td>
              <td class="right" style="border-right:1px solid rgb(222, 226, 230)"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
              <td class="right" style="{% if p.attack_win_pct > 0.5 %}color:green{% elif p.attack_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.AttackRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.attack_win_pct|floatformat:3 }}</td>
              <td class="right">{{ p.attack_kp12|floatformat:1 }}</td>
              <td class="right">{{ p.attack_dp12|floatformat:1 }}</td>
              <td class="right" style="{% if p.attack_kdr > 1 %}color:green{% elif p.attack_kdr == 1 %}{% else %}color:red{% endif %}">{{ p.attack_kdr|floatformat:2 }}</td>
              <td class="right" style="border-right:1px solid rgb(222, 226, 230)">{{ p.attack_adr|floatformat:1 }}</td>
              <td class="right" style="{% if p.defense_win_pct > 0.5 %}color:green{% elif p.defense_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.DefenseRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.defense_win_pct|floatformat:3 }}</td>
              <td class="right">{{ p.defense_kp12|floatformat:1 }}</td>
              <td class="right">{{ p.defense_dp12|floatformat:1 }}</td>
              <td class="right" style="{% if p.defense_kdr > 1 %}color:green{% elif p.defense_kdr == 1 %}{% else %}color:red{% endif %}">{{ p.defense_kdr|floatformat:2 }}</td>
              <td class="right">{{ p.defense_adr|floatformat:1 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="teammate-highs" class="tab-pane table-responsive-lg">
      <table id="table-teammate-highs" class="sortable table table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th class="sorttable_nosort">Player</th>
              <th class="sorttable_nosort">Teammate</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Most Kills" data-bs-toggle="tooltip" data-bs-placement="top">K</th>
              <th class="right" title="Most Deaths" data-bs-toggle="tooltip" data-bs-placement="top">D</th>
              <th class="right" title="Most Assists" data-bs-toggle="tooltip" data-bs-placement="top">A</th>
              <th class="right" title="Highest Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Highest Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Highest Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Most First Bloods" data-bs-toggle="tooltip" data-bs-placement="top">FB</th>
              <th class="right" title="Most First Deaths" data-bs-toggle="tooltip" data-bs-placement="top">FD</th>
          </tr>
        </thead>
        <tbody>
          {% for p in TeammatePerformances %}
            <tr>
                <td><img src="{{ p.PlayerAgentImage }}" alt="{{ p.PlayerAgent }}" height=30px title="{{ p.PlayerAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"> <a href="{% url 'player_detail' p.PlayerUsername %}"> {{ p.PlayerDisplayName }} </a></td>
                <td><img src="{{ p.TeammateAgentImage }}" alt="{{ p.TeammateAgent }}" height=30px title="{{ p.TeammateAgentString }}" data-bs-toggle="tooltip" data-bs-placement="top"><a href="{% url 'player_detail' p.TeammateUsername %}"> {{ p.TeammateDisplayName }}</a></td>
                <td class="right"><a href="{% url 'match_list' %}?{{ p.PlayerDisplayName }}=1&{{ p.TeammateDisplayName }}=1">{{ p.num_matches }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_kills_id %}">{{ p.max_kills }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_deaths_id %}">{{ p.max_deaths }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_assists_id %}">{{ p.max_assists }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_kdr_id %}">{{ p.max_kdr|floatformat:2 }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_acs_id %}">{{ p.max_acs }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_adr_id %}">{{ p.max_adr|floatformat:1 }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_fb_id %}">{{ p.max_fb }}</a></td>
                <td class="right"><a href="{% url 'match_detail' p.max_fd_id %}">{{ p.max_fd }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

</div>
{% endblock %}
