{% extends 'match/base.html' %}

{% block css %}
<style>
    table {
        table-layout: auto !important;
        width: 1px !important;
        overflow: visible !important;
    }

    td, th {
        max-width:100%;
        white-space:nowrap;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .right {
        text-align: right;
    }

    span {
        font-size:60% !important;
    }

    @media screen and (max-width: 768px) {
        .nav-tabs {
            width: 100% !important;
        }
    }

    a {
        text-decoration: none;
    }

    button[aria-selected="true"] {
        color: white !important;
    }
    .btn-outline-dark {
        color: black !important;
    }
    .btn-outline-dark:hover {
        color: white !important;
    }

    table.dataTable.no-footer > tbody > tr:last-child > td {
    border-bottom: none;
    }
    table {
    border-radius: 5px;
    }

    .hiddenLink {
        color: inherit !important;
        text-decoration: inherit !important;
    }

    hr {
    background-color: black !important;
    color: black !important;
    border: solid 1px black !important;
    }

    .nav-tabs {
    width: 75%;
    }

    .nav-custom {
    color: black !important;
    border: solid 1px rgb(168, 168, 168) !important;
    border-bottom: none !important;
    }

    a.active, .nav-custom:hover {
    color: white !important;
    background-color: black !important;
    border: solid 1px rgb(168, 168, 168) !important;
    border-bottom: none !important;
    }

    .nav-link {
        margin-right: 30px;
    }
    .nav-link#None {
        color:red !important;
        border-bottom: solid 3px red !important;
    }
    .hover-nav:hover {
        color:red !important;
        border-bottom: solid 3px red !important;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}

{% block content %}
<br>

<div class="container">

    <div class="p-2" style="width: fit-content; overflow: hidden; text-align: center; margin-left: auto; margin-right: auto;">
        <div style="display: inline-block; vertical-align: middle; white-space: nowrap;">
            <h1 style="font-weight:bold">{{ map }}</h1>
        </div>
    </div>

    <div id="buttons" style="text-align:center; margin-top: 1%;">
    <div style="display: inline-block;">
        <a class="btn btn-outline-dark shadow-sm active" style="font-size:100%; margin:5px" href="{% url 'map_detail' map %}" role="button">Overview</a>
        <a class="btn btn-outline-dark shadow-sm" style="font-size:100%; margin:5px" href="{% url 'map_splits' map %}" role="button">Splits</a>
        <a class="btn btn-outline-dark shadow-sm" style="font-size:100%; margin:5px" href="{% url 'match_list' %}?map={{ map }}" role="button">Matches</a>
        <a class="btn btn-outline-dark shadow-sm" style="font-size:100%; margin:5px" href="{% url 'gamelog' %}?map={{ map }}" role="button">Game Log</a>
    </div>
    </div>

    <hr>
    
    <br>
    <h2 style="text-align:center; font-weight:normal">Overview</h2>

    <ul class="nav justify-content-center" style="margin-top:1%">
    <li class="nav-item">
        <button class="nav-link btn btn-outline-dark shadow-sm active" data-bs-toggle="tab" data-bs-target="#tab-overview">Summary</button>
    </li>
    <li class="nav-item">
        <button class="nav-link btn btn-outline-dark shadow-sm" data-bs-toggle="tab" data-bs-target="#tab-combat">Combat</button>
    </li>
    <li class="nav-item">
        <button class="nav-link btn btn-outline-dark shadow-sm" data-bs-toggle="tab" data-bs-target="#tab-highs">Highs</button>
    </li>
    </ul>

    <br>

    <div class="tab-content">
        
        <div id="tab-overview" class="tab-pane active table-responsive-lg">
            <table id="table-overview" class=" table table-hover table-striped table-sm center"
                    style="overflow:hidden; margin-left: auto; margin-right: auto; width:75%; border:1px solid rgb(168, 168, 168)">
                <thead>
                <tr>
                    <th style="border-right:1px solid rgb(222, 226, 230)"></th>
                    <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Matches</th>
                    <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">All Rounds</th>
                    <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Attack Rounds</th>
                    <th colspan="2" style="text-align:center">Defense Rounds</th>
                </tr>
                <tr>
                    <th style="border-right:1px solid rgb(222, 226, 230)"></th>
                    <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                    <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Percentage of Matches Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                    <th class="right" title="Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
                    <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Percentage of Rounds Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                    <th class="right" title="Attack Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
                    <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Attack Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                    <th class="right" title="Defense Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
                    <th class="right" title="Defense Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                </tr>
                </thead>
                <tbody>
                {% for m in lst %}
                    <tr style="{% if m.Label == "All Matches" %}font-weight:bold{% endif %}">
                        <td style="border-right:1px solid rgb(222, 226, 230);">{{ m.Label }}</td>
                        <td class="right">{{ m.num_matches }}</td>
                        <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.win_pct > 0.5 %}color:green{% elif m.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.win_pct|floatformat:3 }}</td>
                        <td class="right">{{ m.rounds }}</td>
                        <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.round_win_pct > 0.5 %}color:green{% elif m.round_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.RoundRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.round_win_pct|floatformat:3 }}</td>
                        <td class="right">{{ m.attack_rounds }}</td>
                        <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.attack_win_pct > 0.5 %}color:green{% elif m.attack_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.AttackRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.attack_win_pct|floatformat:3 }}</td>
                        <td class="right">{{ m.defense_rounds }}</td>
                        <td class="right" style="{% if m.defense_win_pct > 0.5 %}color:green{% elif m.defense_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.DefenseRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.defense_win_pct|floatformat:3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="tab-combat" class="tab-pane table-responsive-lg">
            <table id="table-combat" class=" table table-hover table-striped table-sm center"
                    style="overflow:hidden; margin-left: auto; margin-right: auto; width:75%; border:1px solid rgb(168, 168, 168)">
                <thead>
                <tr>
                    <th></th>
                    <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                    <th class="right" title="Percentage of Matches Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                    <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
                    <th class="right" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
                    <th class="right" title="Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
                    <th class="right" title="Percent of Rounds with 1+ Kill" data-bs-toggle="tooltip" data-bs-placement="top">K%</th>
                    <th class="right" title="Killed/Assisted/Survived/Traded Round Percentage" data-bs-toggle="tooltip" data-bs-placement="top">KAST%</th>
                    <th class="right" title="Percent of Rounds with First Blood" data-bs-toggle="tooltip" data-bs-placement="top">FB%</th>
                    <th class="right" title="Percent of Rounds with First Death" data-bs-toggle="tooltip" data-bs-placement="top">FD%</th>
                    <th class="right" title="First Blood/First Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">FB/FD</th>
                </tr>
                </thead>
                <tbody>
                {% for m in lst %}
                    <tr style="{% if m.Label == "All Matches" %}font-weight:bold{% endif %}">
                        <td>{{ m.Label }}</td>
                        <td class="right">{{ m.num_matches }}</td>
                        <td class="right" style="{% if m.win_pct > 0.5 %}color:green{% elif m.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.win_pct|floatformat:3 }}</td>
                        <td class="right" style="{% if m.kdr > 1 %}color:green{% elif m.kdr == 1 %}{% else %}color:red{% endif %}">{{ m.kdr|floatformat:2 }}</td>
                        <td class="right">{{ m.acs|floatformat:1 }}</td>
                        <td class="right">{{ m.adr|floatformat:1 }}</td>
                        <td class="right" style="{% if m.k_pct > 0.5 %}color:green{% elif m.k_pct == 0.5 %}{% else %}color:red{% endif %}">{{ m.k_pct|floatformat:3 }}</td>
                        <td class="right">{{ m.kast|floatformat:3 }}</td>
                        <td class="right">{{ m.fb_pct|floatformat:2 }}</td>
                        <td class="right">{{ m.fd_pct|floatformat:2 }}</td>
                        <td class="right" style="{% if m.fb_fd_ratio > 1 %}color:green{% elif m.fb_fd_ratio == 1 %}{% else %}color:red{% endif %}">{{ m.fb_fd_ratio|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="tab-highs" class="tab-pane table-responsive-lg">
            <table id="table-highs" class=" table table-hover table-striped table-sm center"
                    style="overflow:hidden; margin-left: auto; margin-right: auto; width:75%; border:1px solid rgb(168, 168, 168)">
                <thead>
                <tr>
                    <th></th>
                    <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                    <th class="right" title="Most Kills" data-bs-toggle="tooltip" data-bs-placement="top">Kills</th>
                    <th class="right" title="Highest Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
                    <th class="right" title="Highest Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
                    <th class="right" title="Most First Bloods" data-bs-toggle="tooltip" data-bs-placement="top">First Bloods</th>
                    <th class="right" title="Most First Deaths" data-bs-toggle="tooltip" data-bs-placement="top">First Death</th>
                </tr>
                </thead>
                <tbody>
                {% for m in lst %}
                    <tr style="{% if m.Label == "All Matches" %}font-weight:bold{% endif %}">
                        <td>{{ m.Label }}</td>
                        <td class="right">{{ m.num_matches }}</td>
                        <td class="right"><a href="{% url 'match_detail' m.max_kills_id %}">{{ m.max_kills_player }} ({{ m.max_kills }})</a></td>
                        <td class="right"><a href="{% url 'match_detail' m.max_acs_id %}">{{ m.max_acs_player }} ({{ m.max_acs|floatformat:0 }})</a></td>
                        <td class="right"><a href="{% url 'match_detail' m.max_adr_id %}">{{ m.max_adr_player }} ({{ m.max_adr|floatformat:0 }})</a></td>
                        <td class="right"><a href="{% url 'match_detail' m.max_fb_id %}">{{ m.max_fb_player }} ({{ m.max_fb }})</a></td>
                        <td class="right"><a href="{% url 'match_detail' m.max_fd_id %}">{{ m.max_fd_player }} ({{ m.max_fd }})</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
  
    </div>
  
</div>
{% endblock %}