{% extends 'match/base.html' %}
{% load homepage %}

{% block title %}
Valorant Reference
{% endblock %}

{% block css %}
<style>

  .navbar {
    display:none;
  }
  
  table {
    table-layout: auto !important;
    width: 1px !important;
  }

  td, th {
    max-width:100%;
    white-space:nowrap;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .right {
    text-align: right;
  }

  table.sortable tbody tr:nth-child(2n) td {
    background: white;
  }
  table.sortable tbody tr:nth-child(2n+1) td {
    background: rgba(0,0,0,0.05);
  }

  .nav-link {
      margin-right: 30px;
  }

  .nav-link#None {
      color:rgb(220,53,69) !important;
      border-bottom: solid 3px rgb(220,53,69) !important;
  }

  .hover-nav:hover {
      color:rgb(220,53,69) !important;
      border-bottom: solid 3px rgb(220,53,69) !important;
  }

  a.hidden {
    color: black;
    text-decoration: none !important;
  }

  @media screen and (max-width: 768px) {
    div.match-box {
      width: 100% !important;
    }
  }

  table.dataTable.no-footer > tbody > tr:last-child > td {
    border-bottom: none;
  }
</style>
{% endblock %}

{% block scripts %}
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<script type="text/javascript">
  $(document).ready(function() {
      var table = $('#table').DataTable( {
          paging: false,
          searching: false,
          info: false,
          scrollY: 221,
          scrollCollapse: true,
          paging: false,
      });
  });
</script>
{% endblock %}

{% block content %}

<div class="container">

  <br>

  <img src="https://i.imgur.com/Kwqwuvv.png" height="80px" style="margin-left:auto; margin-right:auto; display:block;">
  
  <br>

  <h4 style="text-align:center; color:black">An interactive dashboard for Valorant statistics.</h4>

  <br>

  <div style="text-align:center">

    <a href="{% url 'match_list' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Matches</button></a>
    <a href="{% url 'player_stats' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Player Stats</button></a>
    <a href="{% url 'gamelog' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Game Log</button></a>
    <a href="{% url 'roles_overview' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Roles</button></a>
    <a href="{% url 'agents_overview' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Agents</button></a>
    <a href="{% url 'maps_overview' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Maps</button></a>
    <a href="{% url 'lineups' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Lineups</button></a>
    <a href="{% url 'record_overview' %}"><button type="button" class="btn btn-danger m-2" style="border: 1px solid black">Records</button></a>

  </div>

  <div style="text-align:center">
  
    <a href="{% url 'blog' %}"><button type="button" class="btn btn-outline-danger m-2">Blog</button></a>
    <a href="{% url 'about' %}"><button type="button" class="btn btn-outline-danger m-2">About</button></a>

  </div>

  <br>

  <p style="text-align:center; color:black;">Last match: <a href="{% url 'match_detail' LastMatchID %}" style="text-decoration:none">{{ LastMatchDate }}</a></p>

{% endblock %}