{% extends 'match/base.html' %}
{% load homepage %}

{% block css %}
<style>
  table {
    table-layout: auto !important;
    width: 1px !important;
  }

  td, th {
    max-width:100%;
    white-space:nowrap;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .right {
    text-align: right;
  }

  table.sortable tbody tr:nth-child(2n) td {
    background: white;
  }
  table.sortable tbody tr:nth-child(2n+1) td {
    background: rgba(0,0,0,0.05);
  }

  .nav-link {
      margin-right: 30px;
  }

  .nav-link#None {
      color:red !important;
      border-bottom: solid 3px red !important;
  }

  .hover-nav:hover {
      color:red !important;
      border-bottom: solid 3px red !important;
  }

  a.hidden {
    color: black;
    text-decoration: none !important;
  }

  @media screen and (max-width: 768px) {
    div.match-box {
      width: 100% !important;
    }
  }

  table.dataTable.no-footer > tbody > tr:last-child > td {
    border-bottom: none;
  }
</style>
{% endblock %}

{% block scripts %}
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<script type="text/javascript">
  $(document).ready(function() {
      var table = $('#table').DataTable( {
          paging: false,
          searching: false,
          info: false,
          scrollY: 221,
          scrollCollapse: true,
          paging: false,
      });
  });
</script>
{% endblock %}

{% block content %}

<div class="container">

  <h1 class="text-center pt-2"></h1>
  
  <div class="row justify-content-center">

    <div class="col">

      

    </div>

    <div class="col">
      
      <div class="match-box"
           style="background-color: white;
                  border: 1px solid black;
                  border-radius: 5px;
                  padding: 10px;
                  margin-bottom: 10px;
                  margin-left: auto;
                  margin-right: auto;">

        <h4 style="text-align:center; font-weight:bold">
          {{ History.Matches }} Matches
        </h4>

        <h5 class="text-success" style="text-align:center;">
          {{ History.Wins }} Wins
        </h5>
        <h5 class="text-danger" style="text-align:center;">
          {{ History.Losses }} Losses
        </h5>
        <h5 style="text-align:center;;">
          {{ History.Draws }} Draws
        </h5>
        <h5 class="{% if History.WinPct > 0.5 %} text-success {% elif History.WinPct < 0.5 %} text-danger {% endif %}" style="text-align:center;">
          {{ History.WinPctStr }} Win Pct
        </h5>

        <h5 style="text-align:center; margin-bottom:0px; font-weight:bold;">
          {% with w_class="text-success" l_class="text-danger" t_class="text-black" %}
            <span class="{{ t_class }}">...</span>
            {% for letter in History.Form %}
              {% if letter == "W" %}
                <span class="{{ w_class }}">W</span>
              {% elif letter == "L" %}
                <span class="{{ l_class }}">L</span>
              {% elif letter == "T" %}
                <span class="{{ t_class }}">T</span>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </h5>

      </div>

    </div>

    <div class="col">

    </div>

  </div>

  <br>

  <div class="row justify-content-center">

    <div class="col">
      {% match_box FirstMatch "First Match" %}
    </div>

    <div class="col">
      {% match_box RandomMatch "Random" %}
    </div>

    <div class="col">
      {% match_box LastMatch "Last Match" %}
    </div>

  </div>


</div>

{% endblock %}
