{% extends 'match/base.html' %}

{% block title %}
Maps
{% endblock %}

{% block css %}
<style>
  table {
    table-layout: auto !important;
    width: 1px !important;
    overflow: visible !important;
  }

  span {
    font-size:60% !important;
  }

  td, th {
    max-width:100%;
    white-space:nowrap;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .right {
    text-align: right;
  }

  table.sortable tbody tr:nth-child(2n) td {
    background: white;
  }
  table.sortable tbody tr:nth-child(2n+1) td {
    background: rgba(0,0,0,0.05);
  }

  a {
    text-decoration: none;
  } 
  /*
    table.center {
        margin-left:auto; 
        margin-right:auto;
    }
  */
  button[aria-selected="true"] {
      color: white !important;
  }
  .btn-outline-dark {
      color: black !important;
  }
  .btn-outline-dark:hover {
      color: white !important;
  }

  .form-select-clone {
    display:block !important;
    padding:.375rem .75rem .375rem .75rem !important;
    width:68%;
    font-size:1rem !important;
    font-weight:400 !important;
    line-height:1.5 !important;
    color:#212529 !important;
    background-color:#fff !important;
    background-repeat:no-repeat;
    background-position:right .75rem center;
    background-size:16px 12px !important;
    border:1px solid #ced4da !important;
    border-radius:.375rem !important;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  table.dataTable.no-footer > tbody > tr:last-child > td {
    border-bottom: none;
  }
  table {
    border-radius: 5px;
  }

  .hiddenLink {
    color: inherit !important;
    text-decoration: inherit !important;
  }

  .nav-tabs {
    width: 75%;
    border-bottom: none;
  }

  .nav-custom {
    color: black !important;
    border: solid 1px rgb(168, 168, 168) !important;
    border-bottom: none !important;
  }

  a.active, .nav-custom:hover {
    color: white !important;
    background-color: black !important;
    border: solid 1px rgb(168, 168, 168) !important;
    border-bottom: none !important;
  }

  .nav-link:not(.nav-custom) {
      margin-right: 30px;
  }
  .nav-link#maps {
    color:rgb(220,53,69) !important;
    border-bottom: solid 3px rgb(220,53,69) !important;
  }
  .hover-nav:hover {
    color:rgb(220,53,69) !important;
    border-bottom: solid 3px rgb(220,53,69) !important;
  }
</style>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<script>
    function resetFilter() {
        // Clear all filter inputs
        $('#dateRange').data('daterangepicker').setStartDate(moment("01/01/2023", "MM/DD/YYYY"));
        $('#dateRange').data('daterangepicker').setEndDate(moment().add(1, 'days'));

    
        // Submit the filter form to reset the table
        $('#filter-form').submit();
    }
</script>

<script type="text/javascript">
    function showTable(tableId) {
      // Hide all table divs
      document.querySelectorAll('.tab-pane').forEach(function(div) {
        div.style.display = 'none';
      });
      
      // Show the selected table div
      document.getElementById('table-' + tableId).style.display = 'block';
    }
</script>

<script type="text/javascript">
  $(function() {

      var start = moment("{% if date_filter is None %}01/01/2023{% else %}{{ start_date }}{% endif %}", 'MM/DD/YYYY');
      var end = {% if date_filter is None %}moment().add(1, 'days'){% else %}moment("{{ end_date }}", "MM/DD/YYYY"){% endif %};
  
      function cb(start, end) {
          $('#dateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
  
      $('#dateRange').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
             'Today': [moment(), moment()],
             'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
             'Last 7 Days': [moment().subtract(6, 'days'), moment()],
             'Last 30 Days': [moment().subtract(29, 'days'), moment()],
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, cb);
  
      cb(start, end);
  
  });
</script>
{% endblock %}

{% block content %}
<br>

<div class="container">

  <h2>Map Statistics</h2>
  <br>

  <div style="width:75%;">
  <form method="get" action="" id="filter-form">
    <div class="row mb-2">

      <div class="col-md-4">
        <label for="dateRange" class="form-label">Date Range:</label>
        <br>
        <input type="text" id="dateRange" name="dateRange" class="form-select-clone" {% if date_filter is None %} value="" {% else %} value={{ date_filter }} {% endif %}/>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Filter</button>
    <button type="button" class="btn btn-secondary" href="{% url 'maps_overview' %}" onclick="resetFilter()">Reset</button>
  </form>
  </div>

  <ul class="nav nav-tabs table-tabs" style="margin-top:2%; font-size:80%" id="roleTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-custom active" id="basic-tab" data-bs-toggle="tab" href="#tab-overview" role="tab">Summary</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-custom" id="rate-tab" data-bs-toggle="tab" href="#tab-combat" role="tab">Combat</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link nav-custom" id="highs-tab" data-bs-toggle="tab" href="#tab-highs" role="tab">Highs</a>
    </li>
  </ul>

  <div class="tab-content">

    <div id="tab-overview" class="tab-pane active table-responsive-lg">
      <table id="table-overview" class="sortable table table-hover table-sm center"
            style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr id="ignore">
              <th style="border-right:1px solid rgb(222, 226, 230)"></th>
              <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Matches</th>
              <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">All Rounds</th>
              <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Attack Rounds</th>
              <th colspan="2" style="text-align:center">Defense Rounds</th>
          </tr>
          <tr>
              <th style="border-right:1px solid rgb(222, 226, 230)">Map</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Percentage of Matches Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
              <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Percentage of Rounds Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Attack Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
              <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Attack Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Defense Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
              <th class="right" title="Defense Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
          </tr>
        </thead>
        <tbody>
          {% for m in maps %}
            <tr>
              <td style="border-right:1px solid rgb(222, 226, 230);"><a href="{% url 'map_detail' m.Match__Map %}">{{ m.Match__Map }}</a></td>
              <td class="right"><a href="{% url 'match_list' %}?map={{ m.Match__Map }}&dateRange={{ date_filter }}">{{ m.num_matches }}</a></td>
              <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.win_pct > 0.5 %}color:green{% elif m.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.win_pct|floatformat:3 }}</td>
              <td class="right">{{ m.rounds_played }}</td>
              <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.round_win_pct > 0.5 %}color:green{% elif m.round_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.RoundRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.round_win_pct|floatformat:3 }}</td>
              <td class="right">{{ m.attack_rounds }}</td>
              <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.attack_win_pct > 0.5 %}color:green{% elif m.attack_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.AttackRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.attack_win_pct|floatformat:3 }}</td>
              <td class="right">{{ m.defense_rounds }}</td>
              <td class="right" style="{% if m.defense_win_pct > 0.5 %}color:green{% elif m.defense_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.DefenseRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.defense_win_pct|floatformat:3 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="tab-combat" class="tab-pane table-responsive-lg">
      <table id="table-combat" class="sortable table table-hover table-sm center"
            style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th>Map</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Percentage of Matches Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
              <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
              <th class="right" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Percent of Rounds with 1+ Kill" data-bs-toggle="tooltip" data-bs-placement="top">K%</th>
              <th class="right" title="Killed/Assisted/Survived/Traded Round Percentage" data-bs-toggle="tooltip" data-bs-placement="top">KAST%</th>
              <th class="right" title="Percent of Rounds with First Blood" data-bs-toggle="tooltip" data-bs-placement="top">FB%</th>
              <th class="right" title="Percent of Rounds with First Death" data-bs-toggle="tooltip" data-bs-placement="top">FD%</th>
              <th class="right" title="First Blood/First Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">FB/FD</th>
          </tr>
        </thead>
        <tbody>
          {% for m in maps %}
            <tr>
              <td><a href="{% url 'map_detail' m.Match__Map %}">{{ m.Match__Map }}</a></td>
              <td class="right"><a href="{% url 'gamelog' %}?map={{ m.Match__Map }}&dateRange={{ date_filter }}">{{ m.num_matches }}</a></td>
              <td class="right" style="{% if m.win_pct > 0.5 %}color:green{% elif m.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.win_pct|floatformat:3 }}</td>
              <td class="right" style="{% if m.kdr > 1 %}color:green{% elif m.kdr == 1 %}{% else %}color:red{% endif %}">{{ m.kdr|floatformat:2 }}</td>
              <td class="right">{{ m.acs|floatformat:1 }}</td>
              <td class="right">{{ m.adr|floatformat:1 }}</td>
              <td class="right" style="{% if m.k_pct > 0.5 %}color:green{% elif m.k_pct == 0.5 %}{% else %}color:red{% endif %}">{{ m.k_pct|floatformat:3 }}</td>
              <td class="right">{{ m.kast|floatformat:3 }}</td>
              <td class="right">{{ m.fb_pct|floatformat:2 }}</td>
              <td class="right">{{ m.fd_pct|floatformat:2 }}</td>
              <td class="right" style="{% if m.fb_fd_ratio > 1 %}color:green{% elif m.fb_fd_ratio == 1 %}{% else %}color:red{% endif %}">{{ m.fb_fd_ratio|floatformat:2 }}</td>
          </tr>
          {% empty %}
            <tr>
              <td>No data found</td>
              <td> </td>
              <td> </td>
              <td></td>
              <td> </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="tab-highs" class="tab-pane table-responsive-lg">
      <table id="table-highs" class="sortable table table-hover table-sm center"
            style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168)">
        <thead>
          <tr>
              <th>Map</th>
              <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
              <th class="right" title="Most Kills" data-bs-toggle="tooltip" data-bs-placement="top">Kills</th>
              <th class="right" title="Highest Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              <th class="right" title="Highest Average Damage per Round" data-bs-toggle="tooltip" data-bs-placement="top">ADR</th>
              <th class="right" title="Most First Bloods" data-bs-toggle="tooltip" data-bs-placement="top">First Bloods</th>
              <th class="right" title="Most First Deaths" data-bs-toggle="tooltip" data-bs-placement="top">First Deaths</th>
        </tr>
        </thead>
        <tbody>
          {% for p in maps %}
            <tr>
              <td><a href="{% url 'map_detail' p.Match__Map %}">{{ p.Match__Map }}</a></td>
              <td class="right"><a href="{% url 'gamelog' %}?map={{ p.Match__Map }}&dateRange={{ date_filter }}">{{ p.num_matches }}</a></td>
              <td class="right" sorttable_customkey="{{ p.max_kills }}"><a href="{% url 'match_detail' p.max_kills_id %}">{{ p.max_kills_player }} ({{ p.max_kills }})</a></td>
              <td class="right" sorttable_customkey="{{ p.max_acs }}"><a href="{% url 'match_detail' p.max_acs_id %}">{{ p.max_acs_player }} ({{ p.max_acs }})</a></td>
              <td class="right" sorttable_customkey="{{ p.max_adr }}"><a href="{% url 'match_detail' p.max_adr_id %}">{{ p.max_adr_player }} ({{ p.max_adr|floatformat:0 }})</a></td>
              <td class="right" sorttable_customkey="{{ p.max_fb }}"><a href="{% url 'match_detail' p.max_fb_id %}">{{ p.max_fb_player }} ({{ p.max_fb }})</a></td>
              <td class="right" sorttable_customkey="{{ p.max_fd }}"><a href="{% url 'match_detail' p.max_fd_id %}">{{ p.max_fd_player }} ({{ p.max_fd }})</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
  </div>
  
</div>
{% endblock %}
