{% extends 'match/base.html' %}
{% load record_elements %}

{% block title %}
Records · Career
{% endblock %}

{% block css %}
<style>
    .nav-link {
        margin-right: 30px;
    }
    .nav-link#records {
        color:rgb(220,53,69) !important;
        border-bottom: solid 3px rgb(220,53,69) !important;
    }
    .hover-nav:hover {
        color:rgb(220,53,69) !important;
        border-bottom: solid 3px rgb(220,53,69) !important;
    }
    h2 {
        text-align:center;
    }

    a {
        text-decoration: none;
        text-align: center;
    } 
    table.center {
        margin-left:auto; 
        margin-right:auto;
    }

    table.dataTable.no-footer > tbody > tr:last-child > td {
        border-bottom: none;
    }
    table {
        border-radius: 5px;
    }

    .hiddenLink {
        color: inherit !important;
        text-decoration: inherit !important;
    }

    .nav-tabs {
        width: 75%;
    }

    .nav-custom {
        color: black !important;
        border: solid 1px rgb(168, 168, 168) !important;
        border-bottom: none !important;
        }

    a.active, .nav-custom:hover {
        color: white !important;
        background-color: black !important;
        border: solid 1px rgb(168, 168, 168) !important;
        border-bottom: none !important;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}

{% block content %}
<br>

<div class="container">

    <h2 style="text-align:center">Record Book</h2>

    <div id="buttons" style="text-align:center; margin-top: 1%;">
        <div style="display: inline-block;">
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_overview' %}" role="button">General</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_game' %}" role="button">Single-Game</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_streak' %}" role="button">Streaks</a>
            <a class="btn btn-outline-dark shadow-sm active" style="font-size:120%; margin:5px" href="{% url 'record_career' %}" role="button">Career</a>
        </div>
    </div>

    <hr>

    <p style="text-align:center"><i>Minimum Ten Matches Played</i></p>

    <h4 style="text-align:center">Win Percentage</h4>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p>
                {% career_element win_pct 3 'Match Win Pct'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element round_win_pct 3 'Round Win Pct'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element attack_win_pct 3 'Attack Win Pct'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element defense_win_pct 3 'Defense Win Pct'%}
            </p>
        </div>
    </div>

    <br>
    <h4 style="text-align:center">Kills / Deaths / Assists</h4>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p>
                {% career_element kpr 3 'Kills Per Round'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element dpr 3 'Deaths Per Round'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element apr 3 'Assists Per Round'%}
            </p>
        </div>
    </div>

    <br>
    <h4 style="text-align:center">KDR / ACS / ADR</h4>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p>
                {% career_element kdr 3 'K/D'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element acs 3 'ACS'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element adr 3 'ADR'%}
            </p>
        </div>
    </div>
    
    <br>
    <h4 style="text-align:center">First Bloods / Deaths</h4>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p>
                {% career_element fb_pct 3 'First Blood Pct'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element fd_pct 3 'First Death Pct'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element fb_fd_ratio 3 'FB/FD Ratio'%}
            </p>
        </div>
    </div>

    <br>
    <h4 style="text-align:center">Advanced</h4>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p>
                {% career_element k_pct 3 'Kill Pct'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element kast 3 'KAST%'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element hs_pct 3 'HS%'%}
            </p>
        </div>
        <div class="col-md-3">
            <p>
                {% career_element damage_delta 3 'Damage Delta'%}
            </p>
        </div>
    </div>

    <br>

</div>
{% endblock %}
