{% extends 'match/base.html' %}
{% load record_elements %}

{% block title %}
Records · Single-Game
{% endblock %}

{% block css %}
<style>
    .nav-link {
        margin-right: 30px;
    }
    .nav-link#records {
        color:rgb(220,53,69) !important;
        border-bottom: solid 3px rgb(220,53,69) !important;
    }
    .hover-nav:hover {
        color:rgb(220,53,69) !important;
        border-bottom: solid 3px rgb(220,53,69) !important;
    }
    h2 {
        text-align:center;
    }

    h4 {
        text-align:center;
        font-size: 20px !important;
    }

    a {
        text-decoration: none;
    } 
    table.center {
        margin-left:auto; 
        margin-right:auto;
    }

    table.dataTable.no-footer > tbody > tr:last-child > td {
        border-bottom: none;
    }
    table {
        border-radius: 5px;
    }

    .hiddenLink {
        color: inherit !important;
        text-decoration: inherit !important;
    }

    .nav-tabs {
        width: 75%;
    }

    .nav-custom {
        color: black !important;
        border: solid 1px rgb(168, 168, 168) !important;
        border-bottom: none !important;
        }

    a.active, .nav-custom:hover {
        color: white !important;
        background-color: black !important;
        border: solid 1px rgb(168, 168, 168) !important;
        border-bottom: none !important;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}

{% block content %}
<br>

<div class="container">

    <h2 style="text-align:center">Record Book</h2>

    <div id="buttons" style="text-align:center; margin-top: 1%;">
        <div style="display: inline-block;">
            <a class="btn btn-outline-dark shadow-sm " style="font-size:120%; margin:5px" href="{% url 'record_overview' %}" role="button">General</a>
            <a class="btn btn-outline-dark shadow-sm active" style="font-size:120%; margin:5px" href="{% url 'record_game' %}" role="button">Single-Game</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_streak' %}" role="button">Streaks</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_career' %}" role="button">Career</a>
        </div>
    </div>

    <hr>

    <div id="buttons" style="text-align:center; margin-top: 1%;">
        <div style="display: inline-block;">
            <a class="btn btn-outline-dark shadow-sm active" style="font-size:120%; margin:5px" href="{% url 'record_game' %}" role="button">Basic</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_rounds' %}" role="button">Rounds</a>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-md-6">
            <h4>Performance</h4>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game ACS:</strong></p>
                    {% for game in BestACS %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Lowest single-game ACS:</strong></p>
                    {% for game in WorstACS %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game K/D:</strong></p>
                        {% for game in BestKDR %}
                            <p style="margin-bottom:0;">
                                {% game_element game 2 %}
                            </p>
                        {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Lowest single-game K/D:</strong></p>
                    {% for game in WorstKDR %}
                        <p style="margin-bottom:0;">
                            {% game_element game 2 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <br>
            <h4>Damage</h4>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game ADR:</strong></p>
                    {% for game in BestADR %}
                        <p style="margin-bottom:0;">
                            {% game_element game 1 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Lowest single-game ADR:</strong></p>
                    {% for game in WorstADR %}
                        <p style="margin-bottom:0;">
                            {% game_element game 1 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game HS%:</strong></p>
                    {% for game in HighestHS_Pct %}
                        <p style="margin-bottom:0;">
                            {% game_element game 3 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Lowest single-game HS%:</strong></p>
                    {% for game in LowestHS_Pct %}
                        <p style="margin-bottom:0;">
                            {% game_element game 3 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game DD:</strong></p>
                    {% for game in HighestDD %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Lowest single-game DD:</strong></p>
                    {% for game in LowestDD %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <br>
            <h4>First Bloods / Deaths</h4>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Most single-game first bloods:</strong></p>
                    {% for game in MostFB %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Most single-game first deaths:</strong></p>
                    {% for game in MostFD %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game FB%:</strong></p>
                    {% for game in HighestFB_Pct %}
                        <p style="margin-bottom:0;">
                            {% game_element game 3 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game FD%:</strong></p>
                    {% for game in HighestFD_Pct %}
                        <p style="margin-bottom:0;">
                            {% game_element game 3 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <h4>Kills</h4>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Most single-game kills:</strong></p>
                    {% for game in MostKills %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Fewest single-game kills:</strong></p>
                    {% for game in LeastKills %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Most single-game kills per round:</strong></p>
                    {% for game in HighestKPR %}
                        <p style="margin-bottom:0;">
                            {% game_element game 2 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Fewest single-game kills per round:</strong></p>
                    {% for game in LowestKPR %}
                        <p style="margin-bottom:0;">
                            {% game_element game 2 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Highest single-game K%:</strong></p>
                    {% for game in HighestK_Pct %}
                        <p style="margin-bottom:0;">
                            {% game_element game 3 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Lowest single-game K%:</strong></p>
                    {% for game in LowestK_Pct %}
                        <p style="margin-bottom:0;">
                            {% game_element game 3 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <br>
            <h4>Deaths</h4>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Most single-game deaths:</strong></p>
                    {% for game in MostDeaths %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Fewest single-game deaths:</strong></p>
                    {% for game in LeastDeaths %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <br>
            <h4>Assists</h4>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Most single-game assists:</strong></p>
                    {% for game in MostAssists %}
                        <p style="margin-bottom:0;">
                            {% game_element game 0 %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p style="margin-bottom:0;"><strong>Fewest single-game assists:</strong></p>
                    <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#FewestAssists" aria-expanded="false" aria-controls="collapseExample">
                        Show All
                    </button>
                    <div class="collapse" id="FewestAssists">
                        {% for game in LeastAssists %}
                            <p style="margin-bottom:0;">
                                {% game_element game 0 %}
                            </p>
                        {% endfor %}  
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
