{% extends 'match/base.html' %}
{% load record_elements %}

{% block title %}
Records
{% endblock %}

{% block css %}
<style>
    .nav-link {
        margin-right: 30px;
    }
    .nav-link#records {
        color:red !important;
        border-bottom: solid 3px red !important;
    }
    .hover-nav:hover {
        color:red !important;
        border-bottom: solid 3px red !important;
    }
    p {
        text-align:center;
    }
    h2 {
        text-align:center;
    }

    a {
        text-decoration: none;
        text-align: center;
    } 
    table.center {
        margin-left:auto; 
        margin-right:auto;
    }

    table.dataTable.no-footer > tbody > tr:last-child > td {
        border-bottom: none;
    }
    table {
        border-radius: 5px;
    }

    .hiddenLink {
        color: inherit !important;
        text-decoration: inherit !important;
    }

    .nav-tabs {
        width: 75%;
    }

    .nav-custom {
        color: black !important;
        border: solid 1px rgb(168, 168, 168) !important;
        border-bottom: none !important;
        }

    a.active, .nav-custom:hover {
        color: white !important;
        background-color: black !important;
        border: solid 1px rgb(168, 168, 168) !important;
        border-bottom: none !important;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}

{% block content %}
<br>

<div class="container">

    <h2 style="text-align:center">Record Book</h2>

    <div id="buttons" style="text-align:center; margin-top: 1%;">
        <div style="display: inline-block;">
            <a class="btn btn-outline-dark shadow-sm active" style="font-size:120%; margin:5px" href="{% url 'record_overview' %}" role="button">General</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_game' %}" role="button">Single-Game</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_streak' %}" role="button">Streaks</a>
            <a class="btn btn-outline-dark shadow-sm" style="font-size:120%; margin:5px" href="{% url 'record_career' %}" role="button">Career</a>
        </div>
    </div>

    <hr>

    <div style="text-align: center">
        <p style="margin-bottom:0;">
            <strong>Total Games: </strong>{{ TotalGames }}
        </p>
        <p style="margin-bottom:0; color:green">
            <strong>Wins: </strong>{{ Wins }}
        </p>
        <p style="margin-bottom:0; color:red">
            <strong>Losses: </strong>{{ Losses }}
        </p>
        <p style="margin-bottom:0;">
            <strong>Draws: </strong>{{ Draws }}
        </p>
    </div>

    <br>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p style="margin-bottom:0;"><strong>Largest victory:</strong></p>
            {% for game in BiggestWin %}
                {% match_element game %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <p style="margin-bottom:0;"><strong>Largest defeat:</strong></p>
            {% for game in BiggestLoss %}
                {% match_element game %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            <p style="margin-bottom:0;"><strong>Longest match:</strong></p>
            {% for game in LongestGame %}
                {% match_element game %}
            {% endfor %}
        </div>
    </div>

    <hr>

    <h4 style="text-align:center">Players</h4>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p style="margin-bottom:0;"><strong>Most games played:</strong></p>
            <p>
                <img src="{{ TopPlayerAgentImage }}" alt="{{ TopPlayerAgent }}" height=30px title="{{ TopPlayerAgent }}" data-bs-toggle="tooltip" data-bs-placement="top"> 
                <a href="{% url 'player_detail' TopPlayerUsername %}">{{ TopPlayerDisplayName }}:</a> 
                {{ TopPlayerGames }} 
            </p>
        </div>
        <div class="col-md-3">
            <p style="margin-bottom:0;"><strong>Fewest games played:</strong></p>
            <p>
                <img src="{{ BotPlayerAgentImage }}" alt="{{ BotPlayerAgent }}" height=30px title="{{ BotPlayerAgent }}" data-bs-toggle="tooltip" data-bs-placement="top"> 
                <a href="{% url 'player_detail' BotPlayerUsername %}">{{ BotPlayerDisplayName }}:</a> 
                {{ BotPlayerGames }} 
            </p>
        </div>
    </div>

    <hr>

    <h4 style="text-align:center">Agents</h4>

    <div class="row justify-content-center" >
        <div class="col-md-3">
            <p style="margin-bottom:0;"><strong>Most games played:</strong></p>
            <p>
                <img src="{{ TopAgentImage }}" alt="{{ TopAgent }}" height=30px title="{{ TopAgent }}" data-bs-toggle="tooltip" data-bs-placement="top"> 
                <a href="{% url 'player_detail' TopAgent %}">{{ TopAgent }}:</a> 
                {{ TopAgentCount }} 
            </p>
        </div>
        <div class="col-md-3">
            <p style="margin-bottom:0;"><strong>Fewest games played:</strong></p>
            <p>
                <img src="{{ BotAgentImage }}" alt="{{ BotAgent }}" height=30px title="{{ BotAgent }}" data-bs-toggle="tooltip" data-bs-placement="top"> 
                <a href="{% url 'player_detail' BotAgent %}">{{ BotAgent }}:</a> 
                {{ BotAgentCount }} 
            </p>
        </div>
    </div>

    <br>
    
    

</div>
{% endblock %}
