{% extends 'match/base.html' %}
{% load custom_filters %}

{% block title %}
Analysis · Time of Day
{% endblock %}

{% block css %}
<style>
  @media screen and (max-width: 768px) {
    p, .adjust {
      width: 100% !important;
    }
  }

  table {
      table-layout: auto !important;
      width: 1px !important;
      overflow: visible !important;
  }

  td, th {
      max-width:100%;
      white-space:nowrap;
      padding-left: 10px !important;
      padding-right: 10px !important;
  }

  td {
      background-clip: padding-box !important;
  }

  .right {
      text-align: right;
  }

  .nav-link:not(.nav-custom) {
      margin-right: 30px;
  }

  .nav-link#analysis {
      color:rgb(220,53,69) !important;
      border-bottom: solid 3px rgb(220,53,69) !important;
  }

  .hover-nav:hover {
      color:rgb(220,53,69) !important;
      border-bottom: solid 3px rgb(220,53,69) !important;
  }

  .nav-tabs {
      width: 75%;
      border-bottom: none;
  }

  .nav-custom {
      color: black !important;
      border: solid 1px rgb(168, 168, 168) !important;
      border-bottom: none !important;
  }

  a.active, .nav-custom:hover {
      color: white !important;
      background-color: black !important;
      border: solid 1px rgb(168, 168, 168) !important;
      border-bottom: none !important;
  }

  button[aria-selected="true"] {
      color: white !important;
  }

  .btn-outline-dark {
      color: black !important;
  }

  .btn-outline-dark:hover {
      color: white !important;
  }

  a {
      text-decoration: none;
  }
</style>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<script type="text/javascript">
    function showTable(tableId) {
      // Hide all table divs
      document.querySelectorAll('.tab-pane').forEach(function(div) {
        div.style.display = 'none';
      });
      
      // Show the selected table div
      document.getElementById('table-' + tableId).style.display = 'block';
    }
</script>
{% endblock %}

{% block content %}

<div class="container">

    <br>
    <h2>Time of Day</h2>

    <div class="adjust" style="width: 800px">

      <p>
          Whenever five players express that they are online and ready to play, a game may occur. There is no set schedule for these games - they happen when they happen.
          Thus, there is variance in the time of day at which matches are played. 
      </p>

      <p>
        Two main questions follow from this fact. First, when are games usually played? Is it completely random (unlikely), or is there some pattern? 
        Second, does this have any effect on the team's performance? 
        Research suggests that <a href="https://pubmed.ncbi.nlm.nih.gov/11128289/">"human performance efficiency changes as a function of time of day."</a> 
        How does this apply to the team's Valorant matches?
      </p>

      <p>
        Note: the time associated with a game is the time at which the game started. All times are in Central Standard Time.
      </p>

      <div class="row">

        <div class="col-md">
          <div class="table-responsive">
            <table id="table-basic" class="table table-hover table-striped table-sm"
                style="width:75%; border:1px solid rgb(168, 168, 168); margin:auto; font-size: 12px">
              <thead>
                  <tr>
                      <th>Hour</th>
                      <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                      <th class="right" title="Match Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                      <th class="right" title="Round Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Rd Win%</th>
                  </tr>
              </thead>
              <tbody>
                {% for p in hourly_data %}
                  <tr>
                    <td>{{ p.hour }}</td>
                    <td class="right"><a href="{% url 'match_list' %}?hour={{ p.hour_24 }}">{{ p.num_matches }}</a></td>
                    <td class="right" style="{% if p.win_pct > 0.5 %}color:green{% elif p.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ p.MatchRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ p.win_pct|floatformat:3 }}</td>
                    <td class="right" style="{% if p.round_win_pct > 0.5 %}color:green{% elif p.round_win_pct == 0.5 %}{% else %}color:red{% endif %}">{{ p.round_win_pct|floatformat:3 }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md">
          <img class="adjust" style="margin:auto; display:block; width:500px" src="data:image/svg+xml,{{ uri }}" alt="My Histogram">
        </div>

      </div>

      <br>

      <p>
        We can get a broader overview through categorization. 
        These classifications are a bit arbitrary, partially because I tried to have a high volume of games in each category while still being intuitive.
        The categories are <strong>Pre-Night (12 PM to 8 PM)</strong>, <strong>Early Night (8 PM to 12 AM)</strong>, and <strong>Late Night (12 AM to 4 AM)</strong>.
      </p>

      <div class="table-responsive-lg">
        <table id="table-overview" class="sortable table table-striped table-hover table-sm center"
              style="overflow:hidden; width:75%; border:1px solid rgb(168, 168, 168); margin:auto; font-size: 12px">
          <thead>
            <tr id="ignore">
                <th style="border-right:1px solid rgb(222, 226, 230)"></th>
                <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Matches</th>
                <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">All Rounds</th>
                <th colspan="2" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Attack Rounds</th>
                <th colspan="2" style="text-align:center">Defense Rounds</th>
            </tr>
            <tr>
                <th class="sorttable_nosort" style="border-right:1px solid rgb(222, 226, 230)">Time (Central Time Zone)</th>
                <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Percentage of Matches Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                <th class="right" title="Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
                <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Percentage of Rounds Won" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                <th class="right" title="Attack Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
                <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Attack Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                <th class="right" title="Defense Rounds Played" data-bs-toggle="tooltip" data-bs-placement="top">Rds</th>
                <th class="right" title="Defense Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
            </tr>
          </thead>
          <tbody>
            {% for m in categorized %}
              <tr>
                <td style="border-right:1px solid rgb(222, 226, 230);">{{ m.time_category }}</td>
                <td class="right"><a href="{% url 'match_list' %}?time_class={{ m.time_category }}">{{ m.num_matches }}</a></td>
                <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.win_pct > 0.5 %}color:green{% elif m.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.win_pct|floatformat:3 }}</td>
                <td class="right">{{ m.rounds_played }}</td>
                <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.round_win_pct > 0.5 %}color:green{% elif m.round_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.RoundRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.round_win_pct|floatformat:3 }}</td>
                <td class="right">{{ m.attack_rounds }}</td>
                <td class="right" style="border-right:1px solid rgb(222, 226, 230); {% if m.attack_win_pct > 0.5 %}color:green{% elif m.attack_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.AttackRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.attack_win_pct|floatformat:3 }}</td>
                <td class="right">{{ m.defense_rounds }}</td>
                <td class="right" style="{% if m.defense_win_pct > 0.5 %}color:green{% elif m.defense_win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ m.DefenseRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ m.defense_win_pct|floatformat:3 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <br>

      <p>
        At the time of this writing, there is a clear pattern of subpar performance after midnight for the team. 
      </p>

      <p>
        Finally, let's wrap things up by aggregating each player's individual performance by time of day classification.
      </p>

      <div class="table-responsive mb-3">
        <table id="table-basic" class="sortable table table-striped table-hover table-sm"
            style="width:75%; border:1px solid rgb(168, 168, 168); margin:auto; font-size: 12px">
          <thead>
              <tr id="ignore">
                <th style="border-right:1px solid rgb(222, 226, 230)"></th>
                <th colspan="4" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Pre-Night</th>
                <th colspan="4" style="text-align:center; border-right:1px solid rgb(222, 226, 230)">Early Night</th>
                <th colspan="4" style="text-align:center;">Late Night</th>
              </tr>
              <tr>
                <th class="sorttable_nosort" style="border-right:1px solid rgb(222, 226, 230)">Player</th>
                <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                <th class="right" title="Match Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
                <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
                <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                <th class="right" title="Match Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
                <th class="right" style="border-right:1px solid rgb(222, 226, 230)" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
                <th class="right" title="Matches Played" data-bs-toggle="tooltip" data-bs-placement="top">MP</th>
                <th class="right" title="Match Win Percentage" data-bs-toggle="tooltip" data-bs-placement="top">Win%</th>
                <th class="right" title="Kill Death Ratio" data-bs-toggle="tooltip" data-bs-placement="top">K/D</th>
                <th class="right" title="Average Combat Score" data-bs-toggle="tooltip" data-bs-placement="top">ACS</th>
              </tr>
          </thead>
          <tbody>
            {% for player_name, player_data in player_stats.items %}
              <tr>
                <td style="border-right:1px solid rgb(222, 226, 230)">{{ player_name }}</td>
                {% for category in categories %}
                  {% with stats=player_data|get_item:category %}
                    <td class="right"><a href="{% url 'player_gamelog' player_name %}?time_class={{ category }}">{{ stats.total_matches|default_if_none:"&nbsp;" }}</a></td>
                    <td class="right" style="{% if stats.win_pct > 0.5 %}color:green{% elif stats.win_pct == 0.5 %}{% else %}color:red{% endif %}" title="{{ stats.WinLossRecord }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ stats.win_pct|floatformat:3|default_if_none:"&nbsp;" }}</td>
                    <td class="right" style="{% if stats.kdr > 1 %}color:green{% elif stats.kdr == 1 %}{% else %}color:red{% endif %}">{{ stats.kdr|floatformat:2|default_if_none:"&nbsp;" }}</td>
                    <td class="right" style="{% if category != "Late Night" %}border-right:1px solid rgb(222, 226, 230){% endif %}">
                      {{ stats.acs|floatformat:1|default_if_none:"&nbsp;" }}
                    </td>
                  {% endwith %}
                {% endfor %}
              </tr>
            {% endfor %}        
          </tbody>
        </table>
      </div>

      <p>
        It's worth mentioning that while the match start times are listed in the Central Standard Time, not all of these players live in this time zone. 
        A game that occurs prior to midnight for some players may be occurring after midnight for others.
      </p>

    </div>

    <br>

</div>

{% endblock %}